.Reviews{
    width: 780px;
    background-color:  #71264314;
    display: grid;
    grid-template-columns: 3fr 6fr ;
    padding: 5px;
    margin-right: 25px;
    border-radius: 5%;
}
.Reviews__reviewer-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
}
.reviewer_img {
    padding-right: 20px ;
}

.Reviews__img{
    width: 100px;
}
.Reviewer__profile{
    width: 100px
}
h6{
    margin-right: 10px;
}
.ellipsis{
    width: 500px;
    white-space: wrap;
    overflow: hidden;
    display: flex;
}


.ReviewCard__rating{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 0px;
}
.ReviewCard__date{
    margin: 0 auto;
}
.showMore{
    margin: 0 auto;
    border: none;
    color:cadetblue;
   
}